
* {
    margin: 0;
    padding: 0;
}

.right {
    width: 100%;
    height: 700px;
    /* border: 2px solid red;  */
    background-image: url(/bg-seraat5\ \(1\).jpg);
    display: inline-block;
    vertical-align: top;

}

.logo {
    width: 154px;
    height: 76px;
    /* border: 2px solid red;  */
    background-image: url(/logo-wide-white.png);
    margin-top: 21px;
    margin-left: 29px;


}

.right1 {
    display: flex;
    margin-left: 701px;
    gap: 46px;
    cursor: pointer;
    /* border: 2px solid red;  */
}

.right1 a {
    width: 76px;
    height: 18px;
    /* border: 2px solid red; */
    color: white;
    border-radius: 5px;
    /* border-color: #444; */
}

.right1 a:hover {
    /* color: black; */
    background-color: #333;
}

.first {
    width: 500px;
    height: 450px;
    /* border: 2px solid red; */
    margin-left: 662px;
    margin-top: 30px;
}

.first1 {
    margin-left: 148px;
    margin-top: 43px;
}

.first1 h1 {
    color: #b14fc5 !important;
    font-size: 99px;
    margin-left: -58px;
}

.first1 h2 {
    font-size: 38px;
    margin-left: -17px;
    /* font-family: 'Droid Sans', sans-serif; */
    font-weight: 600;
}

.first2 h1 {
    margin-top: 10px;
}

.first1 h2 {
    color: white;
}

.first1 p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    margin-top: 9px;
    margin-left: 40px;
    line-height: 19px;
    font-weight: 200;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.btn {
    margin-left: 197px;
    margin-top: 21px;
    padding: 12px;
    border-radius: 5px;
    background-color: #b14fc5 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-weight: 400;
}

.pro {
    width: 90%;
    height: 230px;
    /* border: 2px solid red; */
    margin-left: 66px;
    margin-top: 470px;
}

.pro1 {
    width: 50%;
    height: 228px;
    /* border: 2px solid black; */
    margin-left: 0px;
    margin-top: 0px;
    background-image: url(/seraat-offer.jpg);
}

.pro2 {
    width: 50%;
    height: 228px;
    /* border: 2px solid black; */
    margin-left: 550px;
    margin-top: -228px;
    background-image: url(/pic.jpg);
}

.pro3 h1 {
    color: white;
}

.pro3 h2 {
    color: #b14fc5 !important;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.pro3 p {
    color: white;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.PRO4 h1 {
    color: white;
    font-weight: 100;
}

.pro4 h2 {
    color: #b14fc5;
}

.box {
    width: 100%;
    height: 550px;
    /* border: 2px solid red; */
}

.box1 {
    width: 60%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 64px;
    margin-top: 139px;
    display: inline-block;
    vertical-align: top;
}

.box1 h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    margin-top: 17px;
}

.box1 h2 {
    color: #b14fc5 !important;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 58px;
}

.box1 p {
    font-size: 18px;
}

.btn2 {
    border: 1px solid transparent;
    color: #fff;
    background-color: #b14fc5;
    border-color: #b14fc5;
    margin-left: 2px;
    margin-top: 23px;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}

.box2 {
    width: 34%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 760px;
    margin-top: -284px;
    background-image: url(/seraat-about.jpg);
}

.secondbox {
    width: 100%;
    height: 600px;
    /* border: 2px solid red; */
    background-image: url(/bg-seraat-parallex.jpg);
}

.small {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
}

.small h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 50px;
    font-weight: 600;
    padding-top: 219px;
}

.small p {
    text-align: center;
    color: white;
    font-size: 34px;
    padding-top: 88px;
}

.content {
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
}

.content h3 {
    text-align: center;
    padding-top: 97px;
    font-size: 35px;
    font-weight: 400;
    color: #b14fc5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content p {
    text-align: center;
    letter-spacing: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 17px;
}

.container {
    display: flex;
    justify-content: center;
}

.container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    padding-top: 119px;
    gap: 10px;
}

.item {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid {
    width: 100%;
    height: 115vh;
    /* border: 2px solid red; */

}

.mid h3 {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: #b14fc5;
    font-family: 'Droid Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
}

.mid p {
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
}

.map {
    width: 40%;
    height: 450px;
    margin-top: 53px;
    margin-left: 46px;
    display: inline-block;
}

.contact-div {
    width: 50%;
    height: 501px;
    /* border: 2px solid red; */
    margin-top: 53px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
}

.massage-text {}

.name {
    width: 250px;
    height: 40px;
    padding-left: 20px;
    margin-top: 40px;
    /* border-radius: 4px; */

}

.name2 {
    width: 250px;
    height: 40px;
    padding-left: 20px;
    margin-top: 40px;
    /* border-radius: 4px; */
    margin-left: 30px;
}

.name3 {
    width: 250px;
    height: 40px;
    padding-left: 20px;
    margin-top: 40px;
    /* border-radius: 4px; */
}

.comment {
    margin-top: 33px;
}

.last {
    margin-left: 0%;
    margin-top: 29px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b14fc5 !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border: none;
    font-weight: 400;
    color: white;
}

.end {
    width: 100%;
    height: 500px;
    margin-top: -76px;
    /* border: 2px solid red; */
    background-image: url(bg-seraat-footer.jpg);
    background-size: cover;
    /* filter: brightness(12%); */
}
.logo2 {
    width: 12%;
    height: 77px;
    /* border: 2px solid white; */
    background-image: url(logo-wide-white.png);
    margin-left: 93px;
    margin-top: 107px;
}

.adress {
    width: 20%;
    height: 306px;
    /* border: 2px solid red; */
    margin-left: 371px;
    margin-top: -76px;
}

.adress2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
}

.adress p {
    color: #808080 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
}

.contact5 {
    width: 20%;
    height: 306px;
    /* border: 2px solid red; */
    MARGIN-LEFT: 624px;
    margin-top: -309px;
}

.contact5 h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
}

.contact-info span {
    display: block;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #808080 !important;
}

.icon {
    width: 28%;
    height: 304px;
    /* border: 2px solid red; */
    margin-left: 876px;
    margin-top: -309px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 600;
    line-height: 1.42857143;
    line-height: 1.2;
}

.icon1 {
    width: 53%;
    height: 60px;
    /* border: 2px solid red; */
    margin-top: 31px;
    background-image: url(google-icon.png);
    background-size: cover;
}

.icon2 {
    width: 53%;
    height: 60px;
    /* border: 2px solid red; */
    background-image: url(Apple-icon.png);
    background-size: cover;
}
.footer{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 130px;
}
